.vscode/
.vs/
.idea/
fixtures/
venv/
__pycache__/
my_site/p_library/templates/p_library/manage_authors.html
my_site/p_library/templates/p_library/manage_books_authors.html

#Database
my_site/*.sqlite3
