.vscode/
.vs/
.idea/
fixtures/
venv/
__pycache__/
migrations/
my_site/p_library/templates/p_library/manage_authors.html
my_site/p_library/templates/p_library/manage_books_authors.html

#Database
*.sqlite3
