{% extends 'base.html' %}

{% block title %}
	Форма создания и редактирования издательств
{% endblock %}

{% block main %}

<div class="d-flex flex-row">
<div class="col-md-3">Это должно быть слева</div>
<div class="col-md-6">
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<!-- <button type="submit" class="btn btn-primary btn-lg btn-block">
			Сохранить
		</button> -->
		
		<div class="d-grid">
			<button type="submit" class="btn btn-primary">Сохранить</button>
		  </div>
		  
		  <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end">
			<button type="submit" class="btn btn-primary me-md-2">Сохранить</button>
		  </div>		   -->


	</form>
</div>
<div class="col-md-3">Это должно быть справа</div>
</div>	

{% endblock %}